// General
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fdfdfd;
    overflow-x: hidden;
}
body {
    position: relative;
}
p {
    font-size: 1rem;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #8CBEBD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #718D8C; 
}

// #Navbar
#mainNavbar {
    transition: top .5s;
    top: -60px;
    i {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.4rem;
    }
}
@media only screen and (max-width:767px){
    #mainNavbar {
        i {
            display: none;
        }
    }
}

// #Home
#home {
    margin: 20px;
    background-image: url("../img/home-pizza-bg.jpg");
    height: calc(100vh - 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed!important;
}
.jumbotron {
    background: none;
    height: 100%;
    display: flex;
    align-items: center;
}
#main-logo {
    display: block;
    margin: auto;
    animation: logo-in 1s ease-out 0s 1 forwards;
}
// logo transition
@keyframes logo-in {
    0%      {transform: scale(0); opacity: 0;}
    100%    {transform: scale(1.2); opacity: 0.9;}
}
.round-border {
    border-radius: 3px;
    box-shadow: -1px -1px 5px 0px #565A5A, 1px 1px 5px 0px #565A5A;
}

// #About
#about {
    margin: 20px;
    background-image: url("../img/about-bg.jpg");
    height: calc(100vh - 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed!important;
}
.bg-white {
    background: #fdfdfd;
}

// #Menu
#menu {
    margin: 50px 20px;
    background-image: url("../img/menu-bg.jpg");
    height: calc(100vh - 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed!important;
}
#iframeMenu {
    width: 97%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

// #Gallery
#gallery {
    margin: 20px;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
#image-gallery .modal-footer{
    display: block;
}
.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-thumbnail {
    transition: .5s ease;
}
.img-thumbnail:hover {
    opacity: 0.3;
}

// #Restaurants
#restaurants {
    background: #8CBEBD;
    color: #565A5A;
    img {
        object-fit: cover!important;
        padding: .25rem;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #718D8C;
        border-radius: .25rem;
        max-width: 100%;
    }
    a {
        transition: .5s ease;
        text-decoration: none;
        color: #565A5A;
        p {
            font-size: 1.5em;
        }
    }
    a:hover {
        transform: scale(1.2);
        opacity: .8;
    }
}
#map {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 400px;
    border: 1px solid #718D8C;
}
#restaurantChoice {
    height: 70vh;
}
@media only screen and (max-width:575px) {
    #restaurantChoice {
        height: auto;
    }
    #restaurants {
        .container {
            padding: 12px;
        }
    }
}

// #Contact
#contact {
    background: #565A5A;
    color: #fdfdfd;
    a {
        color: #fdfdfd;
    }
    a:hover {
        color: #718D8C;
    }
    i {
        font-size: 3.8rem;
    }
}
#inputTextarea {
    max-height: 150px;
    min-height: 50px;
}
#contact-logo {
    display: block;
    margin: auto;
    border: 1px solid #718D8C;
    border-radius: .25rem;
    max-width: 100%;
}

// Footer
footer {
    background: #565A5A;
    color: #fdfdfd;
    font-size: 0.8rem;
    text-decoration: none;
    a {
        color: #fdfdfd;
    }
    a:hover {
        color: #718D8C;
        text-decoration: none;
    }
}