html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fdfdfd;
  overflow-x: hidden;
}

body {
  position: relative;
}

p {
  font-size: 1.2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8CBEBD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #718D8C;
}

#mainNavbar {
  transition: top 0.5s;
  top: -60px;
}
#mainNavbar i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.4rem;
}

@media only screen and (max-width: 767px) {
  #mainNavbar i {
    display: none;
  }
}
#home {
  margin: 20px;
  background-image: url("../img/home-pizza-bg.jpg");
  height: calc(100vh - 40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.jumbotron {
  background: none;
  height: 100%;
  display: flex;
  align-items: center;
}

#main-logo {
  display: block;
  margin: auto;
  animation: logo-in 1s ease-out 0s 1 forwards;
}

@keyframes logo-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.9;
  }
}
.round-border {
  border-radius: 3px;
  box-shadow: -1px -1px 5px 0px #565A5A, 1px 1px 5px 0px #565A5A;
}

#about {
  margin: 20px;
  background-image: url("../img/about-bg.jpg");
  height: calc(100vh - 40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.bg-white {
  background: #fdfdfd;
}

#menu {
  margin: 50px 20px;
  background-image: url("../img/menu-bg.jpg");
  height: calc(100vh - 40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

#iframeMenu {
  width: 97%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#gallery {
  margin: 20px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-thumbnail {
  transition: 0.5s ease;
}

.img-thumbnail:hover {
  opacity: 0.3;
}

#restaurants {
  background: #8CBEBD;
  color: #565A5A;
}
#restaurants img {
  object-fit: cover !important;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #718D8C;
  border-radius: 0.25rem;
  max-width: 100%;
}
#restaurants a {
  transition: 0.5s ease;
  text-decoration: none;
  color: #565A5A;
}
#restaurants a p {
  font-size: 1.5em;
}
#restaurants a:hover img {
  opacity: 0.5;
}
#restaurants a:hover p {
  color: #A6EFEE;
}

#contact {
  background: #565A5A;
  color: #fdfdfd;
}
#contact a {
  color: #fdfdfd;
}
#contact a:hover {
  color: #718D8C;
}
#contact i {
  font-size: 3.8rem;
}

#inputTextarea {
  max-height: 150px;
  min-height: 50px;
}

#contact-logo {
  display: block;
  margin: auto;
  border: 1px solid #718D8C;
  border-radius: 0.25rem;
  max-width: 100%;
}

footer {
  background: #565A5A;
  color: #fdfdfd;
  font-size: 0.8rem;
  text-decoration: none;
}
footer a {
  color: #fdfdfd;
}
footer a:hover {
  color: #718D8C;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
